@tailwind base;
@tailwind components;
@tailwind utilities;

.items-style {
    @apply bg-iconColor text-center text-white inline-flex items-center justify-center py-4 rounded shadow-2xl border-2  border-blue-500 hover:shadow-xl transition-colors duration-500 cursor-pointer ease-in-out hover:opacity-60;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
  }